DAY3/karthik_invoice.json
{
  "name": "karthik invoice",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "26ade2d2-a2e3-4a3a-82db-cf501dbba908",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZNMYX_Ifyttnaed7-uofY_CQ9Z6mu8ESVry1Oqc6RqM",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZNMYX_Ifyttnaed7-uofY_CQ9Z6mu8ESVry1Oqc6RqM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZNMYX_Ifyttnaed7-uofY_CQ9Z6mu8ESVry1Oqc6RqM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "77bdaa1c-932e-400f-9594-4b6a7053b2b5",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oOtWNPPBK9HlEYwd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as invoice analyser , your task is to analyse the data of each person check for their due date and the status , if they are paid leave it , if they not paid then generate a mail to remind them if they are paid return only \"PAID\" , if they are not paid , dont mention the word \"PAID\"\n\nThis is the data : {{ $json['Invoice ID'] }} , {{ $json['Client Name'] }} ,{{ $json['Client Email'] }}  , {{ $json['Amount (INR)'] }} ,{{ $json['Due Date'] }} ,{{ $json.Status }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "id": "83d4890a-2d26-4457-96f2-45ef22ecca46",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        660,
        240
      ],
      "id": "463900e1-8da6-4e63-9d83-58be7aeb4d4c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1IrxteWgpPwB8f2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Payment detail",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "placeholder": "devi"
            },
            {
              "fieldLabel": "Status",
              "placeholder": "paid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1100,
        260
      ],
      "id": "deada1f9-f887-4261-b2ca-ed1fc14ac48f",
      "name": "On form submission",
      "webhookId": "345a27a1-20ce-40ea-aedf-e2f5d391f15a"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json['Client Email'] }}",
        "subject": "Invoice Remanider",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1420,
        20
      ],
      "id": "23597572-97b9-45be-a383-5f137ec38168",
      "name": "Gmail",
      "webhookId": "93b688ef-e316-4e24-a51a-7f6ce77165dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "WNeEBDI8BqfmiQlL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d50d8235-f988-48f5-b445-b4a7c7e5a46b",
              "leftValue": "={{ $json.output }}",
              "rightValue": "PAID",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        20
      ],
      "id": "eda79965-1be6-444f-bb7d-2a5b052d1cc4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ZNMYX_Ifyttnaed7-uofY_CQ9Z6mu8ESVry1Oqc6RqM",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZNMYX_Ifyttnaed7-uofY_CQ9Z6mu8ESVry1Oqc6RqM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZNMYX_Ifyttnaed7-uofY_CQ9Z6mu8ESVry1Oqc6RqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "devi",
            "Status": "paid"
          },
          "matchingColumns": [
            "Client Name"
          ],
          "schema": [
            {
              "id": "Invoice ID",
              "displayName": "Invoice ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount (INR)",
              "displayName": "Amount (INR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        380,
        40
      ],
      "id": "30647272-9637-4df9-93eb-a7b3ff86e14c",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oOtWNPPBK9HlEYwd",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7822670e-9cdb-4611-ac9f-4bb929985982",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1350f504f3a46be970be19e1b0b145b770b165e5ead59e1b38732ed850d235f4"
  },
  "id": "ACNRndblNoLfWzKH",
  "tags": []
}